sec-edgar-downloader
beautifulsoup4
lxml
langchain
langchain-core
langchain-community
langchain-text-splitters
chromadb
langchain-huggingface
sentence-transformers
langchain-google-genai
langchain-classic
langchainhub
tavily-python
yfinance
pydantic
streamlit